<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Push App
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="pushService.dropMessages()">
        <ion-icon color="primary" slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Usuario</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>{{ pushService.userId }}</ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>Mensajes</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let message of pushService.messages">
      <ion-label>
        <h3> {{ message.title }} </h3>
        <p> {{ message.body }} </p>
        <p> {{ message.additionalData | json }} </p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
