<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Push App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Mensajes</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let message of pushService.messages">
      <ion-label>
        <h3> {{ message.title }} </h3>
        <p> {{ message.body }} </p>
        <p> {{ message.additionalData | json }} </p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
